.d-block{
    display: block;
    background-color: rgb(231, 211, 207);
    border: 1px solid gray;
    width: 100px;
    height: 30px;
    font-size: 20px;

    /* 여백 적용-> padding: 내부여백 / margin: 외부여백 */
    padding: 10px;
    /* block에서는 margin이 위아래로 겹치는 부분은 상쇄된다. */
    margin: 10px;
}

.d-inline{
    display: inline;
    background-color: aquamarine;
    border: 1px solid gray;

    /* inline에는 가로, 세로 적용 안됨 */
    width: 100px;
    height: 100px;

    /* 여백 적용 */
    /* padding 위아래 배경색에만 적용됨 */
    padding: 10px;
    margin: 10px;
}

.d-inline-block{
    display: inline-block;
    background-color: blanchedalmond;
    border: 1px solid gray;
    width: 100px;
    height: 100px;

    /* 여백 적용 */
    padding: 10px;
    /* inline-block에서는 margin이 위아래로 상쇄되지 않는다. */
    margin: 10px;
}


.parent{
    width: 500px;
    height: 250px;
    background-color: cadetblue;
}

.parent > .min{
    min-width: 400px;
    background-color: coral;
    height: 100px;
}

.parent > .max{
    max-width: 400px;
    height: 100px;
    background-color: rgb(158, 231, 85);
}

/* 단위 확인 */
.box{
    background-color: blanchedalmond;
    border: 1px solid black;
}

.box-px{
    width: 50px;
    height: 50px;
}

.box-view{
    /* 뷰포트크기에서 50% */
    width: 50vw;
    height: 50vh;
}

.box-per{
    /* 부모의 기준으로 --% */
    width: 50%;
    height: 50%;
}

/* html 의 폰트사이즈가 1rem */
.rem{
    font-size: 2rem;
}

/* 부모의 폰트사이즈가 1em */
.em{
    font-size: 2em;
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    display: inline-block;
    cursor: pointer;
}

.border{
    /* width, style, color순으로 단축 속성 작성 */
    border: 1px solid black;
    border-color: blue;
    border-style: dotted;
    border-width: 5px;

    border-left: 2px dashed rgb(0, 255, 17)green;
    border-top-style: solid;
}

.rounded{
    /* %와 px의 모형이 달라질 수 있음, px이 더 이쁘게 나옴 */
    border-radius: 10%;
    /* 단축속성 */
    border-radius: 5px 10px 20px 40px;
    border-radius: 5px 20px 50px;
    border-radius: 5px 50px;
}

.box-sizing{
    border: 15px solid red;
    padding: 20px;
    background-color: yellow;
}

.content-box{
    box-sizing: content-box;
}

.border-box{
    box-sizing: border-box;
}

/* 모습 안보이게 하기 */
.d-none {
display: none;
background-color: red;
}

.invisible {
/* visibility: hidden; */
background-color: orangered;
}

.opacity-0 {
/* opacity: 0; */
background-color: tomato;
}


.square > img[alt='pooh사진']{
    width: 200px;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-auto{
    overflow: auto;
}

.overflow-scroll{
    overflow: scroll;
}

.overflow-visible{
    overflow: visible;
    /* 단축속성
    overflow-x: hidden;
    overflow-y: auto; */
    overflow: hidden auto;
}